@font-face {
    font-family: 'Bluunext';
    src: url(/Users/madelinewoods/Documents/RISD/2018_2019/winter_session/projects/de-design/webfonts/bluunext-bold-webfont.woff) ;
}


body {
	font-family: Bluunext;
	line-height: 1.2;
  color: #000000;

  height: 100vh;

  background-color: #faffb8;
  background-image: linear-gradient(180deg, #ffffff, rgba(255, 255, 255,0) );
  background-size: cover;
}

section {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  text-align: center;
}

h1 {
	font-size: 24px;
	font-weight: 700;
  margin: -10px;
}

h2 {
  font-size: 10vmin;
}


button {
      position:absolute;
      text-transform: uppercase;
      font-family: 'PT Sans', sans-serif;
      background-color: #b472e6;
      margin: 100 auto;
    	padding: 0;
    	width: 225px;
    	height: 50px;
    	border-radius: 40px;
    	letter-spacing: 1px;
    	font-size: 16px;
      font-weight: bold;
      color: white ;
  }


div.button {

  position: fixed;
  bottom: 300px;
  width: 100%;
  /* padding: 30px; */
  display: flex;
  justify-content: center;
  align-items: center;

}
