body {
font-family: "Source Sans Pro";
width:80vw;
margin: 100px auto;
font-style: italic;
  font-weight: 900;
  overflow: hidden;
}

h1 {
  font-size: 48px;
}

h2 {
  margin-top: -30px;
  font-size: 24px;
}

em {
  text-decoration: underline;
}

.one {
    float: left;
    background-color: rbga(0,0,0,0);
}

.two {
    float: right;
    background-color: rbga(0,0,0,0);
}

.bumper {
    position: absolute;
    top: 200px;
    left: 100px;
    padding: 50px;
    overflow: auto;
    /* outline: 1px solid red; */
    transition: all 0.3s ease-out;
}


.bumperTwo {
    position: absolute;
    top: 500px;
    left: 100px;
    padding: 50px;
    overflow: auto;
    /* outline: 1px solid blue; */
    transition: all 0.3s ease-out;
}

.bumperThree {
    position: absolute;
    top: 75px;
    left: 100px;
    padding: 80px;
    overflow: hidden;
    outline: 1px solid yellow;
}


img {
  max-height: 200px;
  margin:5px;
}

* {
	cursor: none;
}

figure#mouse-pointer {
	background-image: url('/Users/madelinewoods/Documents/RISD/2018_2019/winter_session/compilation/de-design/fishing-pole-and-fish_1f3a3.png');
	width: 50px;
	height: 50px;
	position: absolute;
	margin: -25px;
	display: block;
}
