body {
	font-family: 'gascogne', serif;
	font-size: 24px;
	line-height: 1.2;
	background-color: #f5e6d9;
	color: #333333;
	margin: 0;
}

header {
	position: fixed;
	top: 36px;
	left:36px;
	color: #333333;
	transition: color 0.25s;
	z-index: 2;
}

header.white {
	color: #ffffff;
}

 h3 {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 28px;
	font-weight: 500;
}

.button {
	font-size: 18px;
	line-height: 4;
	font-weight: bold;
	text-align: center;
	position: fixed;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	top: 75px;
	right: 50px;
	transform: rotate(25deg);
	border: solid 1px #333333;
	}

	.button a {

		text-decoration: none;
		color: #333333;
		z-index: 6;
	}

section {
	height: 980px;
	background-color: #f5e6d9;
	padding: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}

div.content {
	position: relative;
}

.hero {
	max-width: 65vw;
}

.green div .circle {
	position: absolute;
	bottom: 10%;
	right: -10%;
}

.green div .square{
	position: absolute;
	top: -5%;
	left: 0;
}

.green div .triangle {
	position: absolute;
	bottom: -20%;
}

.green .circle img  {
	max-width: 10vw;
}

.green .triangle img {
	max-width: 12vw;
}

.green .square img  {
	max-width: 24vw;
}

section.blue {
	background-color: #292121;
	height: 980px;
}

.blue div .circle {
	position: absolute;
	top: -5%;
	right: 0;
}

.blue div .square{
	position: absolute;
	bottom: 40%;
	left: -10%;
}

.blue div .triangle {
	position: absolute;
	right: 20%;
	bottom: 0%;
}

.blue div .rect {
position: absolute;
left: -10%;
bottom: -10%	;
}


.blue .circle img  {
	max-width: 22vw;
}

.blue .triangle img {
	max-width: 18vw;
}

.blue .square img  {
	max-width: 16vw;
}

.blue .rect img {
	max-width: 22vw;
}

section.pink {
	background-color: #c5c5c5;
	height: 900px;
}

.pink div .circle {
	position: absolute;
	top: -5%;
	left: -10%;
}

.pink div .square{
	position: absolute;
	bottom: 40%;
	right: -10%;
}

.pink div .triangle {
	position: absolute;
	right: 20%;
	bottom: 0%;
}

.pink .circle img  {
	max-width: 22vw;
}

.pink .triangle img {
	max-width: 18vw;
}

.pink .square img  {
	max-width: 16vw;
}



section.red {
	background-color: #6e5f67;
	height: 680px;
}

.red .hero {
	max-width: 32vw;
}

.red div .circle {
	position: absolute;
	top: 25%;
	left: -75%;
}

.red div .square{
	position: absolute;
	bottom: 0%;
	right: -50%;
}

.red div .triangle {
	position: absolute;
	right: -25%;
	bottom: 50%;
}

.red .circle img  {
	max-width: 16vw;
}

.red .triangle img {
	max-width: 16vw;
}

.red .square img  {
	max-width: 16vw;
}

.red .rect img  {
	max-width: 16vw;
}


section.yellow {
	background-color: #g3g4g2;
	height: 600px;
}

.yellow .hero {
	max-width: 30vw;
}

.yellow div .circle {
	position: absolute;
	bottom: 10%;
	right: -40%;
}

.yellow div .square{
	position: absolute;
	top: -20%;
	left: -50%;
}

.yellow div .triangle {
	position: absolute;
	bottom: -20%;
}

.yellow .circle img  {
	max-width: 10vw;
}

.yellow .triangle img {
	max-width: 12vw;
}

.yellow .square img  {
	max-width: 20vw;
}

section.orange {
	background-color: #f3f1f2;
	height: 440px;
}

.orange .hero {
	max-width: 27vw;
}


.orange div .circle {
	position: absolute;
	bottom: 10%;
	right: -40%;
}

.orange div .square{
	position: absolute;
	top: 0%;
	left: -50%;
}

.orange div .triangle {
	position: absolute;
	bottom: -20%;
}

.orange .circle img  {
	max-width: 18vw;
}

.orange .triangle img {
	max-width: 18vw;
}

.orange .square img  {
	max-width: 18vw;
}

section.purple {
	background-color: #292121;
	height: 330px;
}

.purple .hero {
	max-width: 25vw;
}

.purple div .circle {
	position: absolute;
	bottom: 10%;
	left: -40%;
}

.purple div .square{
	position: absolute;
	top: 20%;
	right: -60%;
}

.purple div .triangle {
	position: absolute;
	bottom: -20%;
}

.purple .circle img  {
	max-width: 16vw;
}

.purple .triangle img {
	max-width: 16vw;
}

.purple .square img  {
	max-width: 16vw;
}

div.progress {
	position: fixed;
	top: 0;
	left:0;
	width:0%;
	height:5px;
	background-color: #333333;
	z-index:1;
	transition: background-color 0.25s;
}

div.progress.white {
	background-color: #ffffff;
}


/* img {
  position: fixed;
  top: 200px;
  left: 200px;
  transform: translate(-50%, -50%) scale(0.5);
  animation: fadein 0.5s;
  max-width: 500px;
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1;}
} */


@font-face {
    font-family: 'gascogne';
    src: url('fonts/gascogne_ts_bold-webfont.woff2') format('woff2'),
         url('fonts/gascogne_ts_bold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;

}
@font-face {
    font-family: 'gascogne';
    src: url('fonts/gascogne_ts_demibold-webfont.woff2') format('woff2'),
         url('fonts/gascogne_ts_demibold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'gascogne';
    src: url('fonts/gascogne_ts_extrabold-webfont.woff2') format('woff2'),
         url('fonts/gascogne_ts_extrabold-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;

}
@font-face {
    font-family: 'gascogne';
    src: url('fonts/gascogne_ts_extralight-webfont.woff2') format('woff2'),
         url('fonts/gascogne_ts_extralight-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;

}
@font-face {
    font-family: 'gascogne';
    src: url('fonts/gascogne_ts_light-webfont.woff2') format('woff2'),
         url('fonts/gascogne_ts_light-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;

}
@font-face {
    font-family: 'gascogne';
    src: url('fonts/gascogne_ts_medium-webfont.woff2') format('woff2'),
         url('fonts/gascogne_ts_medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}
@font-face {
    font-family: 'gascogne';
    src: url('fonts/gascogne_ts_regular-webfont.woff2') format('woff2'),
         url('fonts/gascogne_ts_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
